body {
 font-family: 'Roboto', sans-serif;
 font-size: 16px;
 font-weight: 400;
 background: #849d8f;
}

h1, h2, header,
.slider-image-button,
.special-offers,
.special-offer-btn,
.blog-news-link,
.newsletter-subscription-btn,
.map-block p b {
  font-weight: 700;
}

h2.about-us-title,
header a.btn,
.filter,
.ice-cream-item,
.ice-cream-list-pages,
.blog-news {
  font-weight: 500;
}

.header-phone,
p.slider-text {
  font-weight: 900;
}

h1, h2 {
  font-size: 35px;
}

.btn-red {
  font-size: 17px;
}

header a.btn,
.bread-crumps,
.filter-label,
.filter .filter-sort-submenu
{
  font-size: 14px;
}

p.slider-text{
  font-size: 60px;
}

a.slider-image-button{
  font-size: 32px;/*31.48px*/
}

h2.about-us-title,
.blog-news-link{
  font-size: 24px;
}

.special-offers,
.special-offer-btn,
.map-block p b {
  font-size: 18px;
}

.newsletter-subscription-btn{
  font-size: 17px;
}

.blog-news{
  font-size: 16px;
}

.map-block p{
  font-size: 14px;
}

footer {
  font-size: 13px;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-bold.ttf),
         url(../fonts/Roboto-black.ttf),
         url(../fonts/Roboto-regular.ttf),
         url(../fonts/Roboto-medium.ttf);
  }
