img {
  max-width: 100%;
  height: auto;
}

body {
 font-family: 'Roboto', 'Helvetica', sans-serif;
 font-size: 16px;
 font-weight: 400;
 color: #fff;
 background: #849d8f;
}

.index-body { background: #849d8f url(../img/light.jpg) no-repeat 50% 0%; }

h1,
h2,
header,
.slider-image-button,
.special-offers,
.special-offer-btn,
.blog-news-link,
.newsletter-subscription-btn,
.map-block p b {
  font-weight: 700;
  color:#fff;
}

header .btn,
.about-us-title,
.filter,
.ice-cream-item,
.ice-cream-list-pages,
.blog-news {
  font-weight: 500;
}


.header-phone,
.slider-text {
  font-weight: 900;
  font-size: 22px;
}

h1,
h2 {
  font-size: 35px;
}

.btn-red { font-size: 17px; }

header .btn,
.bread-crumps,
.filter-label,
.filter .filter-sort-submenu {
  font-size: 14px;
}

.slider-text {
  font-size: 60px;
  margin: 0;
}

.ice-cream-item { position: relative; }

.ice-cream-item-price {
  margin-top: -65px;
  margin-bottom: 0;
  font-size: 45px;
}

.ice-cream-item-price span {
  font-size: 30px;
  margin-left: -14px;
}

.slider-image-button { font-size: 32px; }

.about-us-title,
.blog-news-link {
  font-size: 24px;
}

.map-block p b,
.special-offers,
.special-offer-btn {
  font-size: 18px;
}

.newsletter-subscription-btn { font-size: 17px; }

.blog-news { font-size: 16px; }

.map-block p { font-size: 14px; }

footer {
  font-size: 13px;
  padding-bottom: 20px;
}

header,
main,
footer {
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  padding-left: 27px;
  padding-right: 27px;
}

header { margin-top: 9px; }

a {
  text-decoration: none;
  color:#fff;
}

p { color:#fff; }

ul {
  list-style: none;
  margin:0;
  padding: 0;
}

/*.header-top-line {line-height: 64px;}*/
/*.header-top-line { line-height: 60px; }*/
.header-top-line { padding-top: 14px; }

.logo-btn {
	float: left;
	content: "";
	width: 153px;
	height: 64px;
	margin-left: -6px;
	margin-top: -14px;
}

.header-right .btn {
	line-height: 32px;
	display: inline-block;
	background: rgba(255,255,255,0.2);
	padding: 0 20px;
	border-radius: 16px;
	position: relative;
	padding-left: 45px;
  vertical-align: top;
  margin-bottom: 14px;
  /*margin-top: 14px;*/
}

/**/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-menu {
  float: left;
  font-size: 0;
  max-width: 500px;
}

.main-menu-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 15px;
}

.header-right {
  float: right;
  font-size: 0;
  max-width: 450px;
}

.main-menu a {
	display: inline-block;
	min-height: 32px;
	padding: 0 13px;
	line-height: 32px;
  font-size: 16px;
}

.main-menu-item:first-child { margin-left: 15px; }

.main-menu-item > a:hover {
  border-radius: 16px;
  background: #f7f6f3;
  color: #333;
}

.main-menu-item > a:active { box-shadow: inset 0 1px 1px #696969; }

.main-menu-current {
  border-radius: 16px;
  background: #d07058;
  color: #fff;
}

.main-menu-current span { border-bottom: none; }

/* Submenu */
.sub-menu-catalog {
  display: none;
  position: absolute;
  top: 37px;
  left: -8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  padding: 0;
  color: #343434;
  z-index: 10;
  font-weight: 400;
}

.main-menu-item:hover .sub-menu-catalog { display: block; }

.sub-menu-catalog li {
  text-align: left;
  display: block;
  min-width: 143px;
}

.sub-menu-catalog hr {
  color: silver;
  margin-top: 0;
  margin-right: 9px;
  margin-bottom: 0;
  margin-left: 6px;
}

.sub-menu-catalog li.sub-menu-current {
  background: #D07058;
  color: #fff;
}

.sub-menu-catalog li.sub-menu-current a { color: white; }

.sub-menu-catalog li a {
	display: block;
	color: #343434;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
  min-height: auto;
	margin-left: 0;
}

.sub-menu-item-new { font-weight: 700; }

.sub-menu-item-disabled { opacity: 0.16; }

.sub-menu-item-disabled a { cursor: default; }

.sub-menu-item:hover { background: #fbded6; }

.sub-menu-item:active { background: #f6b5a5; }

.sub-menu-catalog li:first-child:hover,
.sub-menu-catalog li:first-child:active,
.sub-menu-catalog li:first-child.sub-menu-current {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sub-menu-catalog li:last-child:hover,
.sub-menu-catalog li:last-child:active,
.sub-menu-catalog li:last-child.sub-menu-current {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/***/

.header-right a { margin-left: 10px; }

.header-bottom-line p {
  padding: 0;
  margin: 0;
}

.header-schedule-phone {
  float: right;
  text-align: right;
}

.header-schedule {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 8px;
}

.bread-crumbs {
  float: left;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  cursor: default;
}

.bread-crumbs a {
  display: inline-block;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  cursor: pointer;
}

.bread-crumbs a:hover,
.bread-crumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255,188,158,0.4);
}

.bread-crumbs span { margin: 0 2px; }

h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

.slider {
  display: block;
  position: relative;
}

.slider-image-and-text {
	margin-top: -32px;
	margin-bottom: -20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 680px;
	min-height: 584px;
	text-align: center;
	padding-top: 310px;
	box-sizing: border-box;
	background: url(../img/ice-cream-big.png) no-repeat 50% 28%;
}

.slider-image-button {
	width: 280px;
	line-height: 64px;
	border-radius: 32px;
	margin: auto;
}

.slider-buttons-block {
  position: absolute;
  left: 0;
  bottom: 83px;
  font-size: 0;
}

.slider-button,
.slider-button-active {
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  margin-right: 8px;
}

.slider-radio-input:checked + .slider-button { background: #fff; }

.slider-button:hover {
  background: rgba(255,255,255,0.4);
  cursor: pointer;
}

.slider-button:active {
  background: #fff;
  cursor: pointer;
}

.filters-form { display: block; }

.filters {
  float: left;
  min-height: 57px;
  padding-bottom: 17px;
}

.filters:last-child {
  padding-bottom: 0;
  margin-bottom: 18px;
  position: relative;
}

.filters div { float: left; }

.filter { margin-right: 15px; }

.filter-content,
.filters-apply-button,
.filter-sort-current {
	line-height: 36px;
	background: rgba(255,255,255,0.4);
	border-radius: 18px;
	padding: 0 16px;
	margin-top: 5px;
}

.filters p {
  margin: 0;
  padding: 0;
}

.filters .filter-label {
	padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
}

.filter-sort .filter-content {
	background: none;
	padding: 0 0;
	padding-bottom: 17px;
}

.filter-sort .filter-sort-current {
  display: block;
  position: relative;
  padding-left: 16px;
  padding-right: 50px;
  cursor: pointer;
}

.filter-sort-current::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 5px;
  top: 16px;
  right: 15px;
}

.filter-sort:hover .filter-sort-submenu { display: block; }

.filter-sort-submenu {
  display: block;
  display: none;
  border-radius: 0;
  background: #fff;
  min-width: 192px;  

  position: absolute;
  top: 38px;
  left: 0;
  opacity: 1;
  z-index: 10;
}

.filter-sort-submenu li a {
	color: #343434;
	display: block;
	padding: 4px 20px;
	line-height: 16px;
	font-weight: 400;
	font-size: 14px;
}

.filter-sort-submenu li a:hover {
  background: #1e90ff;
  color: #fff;
}

.filter-price .filter-content {
	position: relative;
	padding: 16px 15px;
}

.filter-price input {
	background: none;
	border: none;
	color: white;
	width: 45px;
}

.filter-range-scale {
  display: block;
  position: relative;
  height: 4px;
  width: 188px;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.filter-range-bar {
  position: absolute;
  left: 39px;
  width: 78px;
  height: 4px;
  background: #f8f7f4;
}

.filter-range-toggle {
  display: block;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 35px;
}

.filter-range-toggle:hover { transform: scale(1.1); }

.filter-range-toggle:last-child { left: 133px; }

/* Checkboxes and radio buttons */

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
.filter-fat-radio-input + label {
  cursor: pointer;
  padding-left: 32px;
  padding-right: 20px;
  position: relative;
}


.filter-fat-radio-input + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

.filter-filler-checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

input[name="filter-fat-radio"]:disabled + label::before,
input[name="filter-fat-radio"]:disabled + label:hover::before,
input[name="filter-fat-radio"]:disabled:checked + label::before,
input[name="filter-fat-radio"]:disabled:checked + label:hover::before,
input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label:hover::before,
input[type="checkbox"]:disabled:checked + label::before,
input[type="checkbox"]:disabled:checked + label:hover::before {
  opacity: 0.4;
}


.filters-apply-button {
  position: absolute;
  line-height: 32px;
	border: 2px solid #fff;
	bottom: 0;
  font-weight: 500;
}

.filters-apply-button:hover {
  line-height: 36px;
  border: none;
  background: #fafbfb;
  color: #363636;
}

.filters-apply-button:active {
  line-height: 36px;
  border: none;
  background: #ededed;
  box-shadow: inset 0 2px 2px #696969;
  color: #363636;
}
/**/

.ice-cream-item { float: left; }

.ice-cream-item a {
	display: block;
	width: 267px;
	min-height: 320px;
	margin-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ice-cream-hits a { margin-right: 26px; }

.ice-cream-item:last-child a,
.ice-cream-hits:last-child a {
  margin-right: 0;
}

.ice-cream-item-name{
  text-align: center;
  padding: 0 5px;
}

.special-offers {
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.special-offers h2 {
	margin-top: 14px;
	margin-bottom: 14px;
}

.special-offers p {
  margin-top: 0;
  margin-bottom: 44px;
}

.btn-red {
  display: block;
  background-image: linear-gradient(#f06743,#e44a35);
  box-shadow: 0 2px 2px rgba(172,16,0,0.64);
  text-align: center;
}

.btn-red:hover { background-image: linear-gradient(#f58669, #ec6f5e); }

.btn-red:active {
    color: #FCEEEC;
    background-image: linear-gradient(#d74632, #e1613e);
    box-shadow: inset 0 2px 2px rgba(148,39,24,1);
}

.special-offer-btn {
	min-height: 46px;
	line-height: 46px;
  border-radius: 46px;
  margin-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  float: right;
}

.special-offer-left,
.special-offer-right,
.about-us h2,
.about-us-left,
.about-us-right {
  padding-left: 20px;
  padding-right: 20px;
}

.special-offer-left,
.special-offer-right,
.about-us-left,
.about-us-right {
  width: 520px;
  border-radius: 14px;
  float: left;
}

.special-offer-right { float: right; }

.raspberry { background: url(../img/rasp.jpg); }

.chocolate { background: url(../img/choco.jpg); }

.blog-news {
  background: url(../img/bg-blog.jpg);
  padding-top: 22px;
}

.about-us {
  background: url(../img/waf.jpg);
  border-radius: 14px;
  margin-bottom: 40px;
}

.about-us p,
.about-us h2 {
  color: #323232;
}

.about-us p {
  padding-left: 57px;
  position: relative;
  margin-bottom: 24px;
}

.about-us h2 {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 10px;
}

.about-us-left,
.about-us-right{
	/*float: left;
	width: 520px;*/
  padding-right: 0;
}

.about-us-right { margin-left: 26px; }

.blog-news p {
  color: #5a5a5a;
  margin: 0;
}

.blog-news a {
  color: #353535;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
  margin-bottom: 81px;
}

.newsletter-subscription {
  padding-top: 37px;
  padding-left: 26px;
  padding-bottom: 40px;
  padding-right: 26px;
  width: 508px;
  background: url(../img/post-card.png);
  /*
  border: 6px solid white;
  border-image: repeating-linear-gradient(-45deg,
                                              #f8f7f4 0px, #f8f7f4 9px,
                                              #fe9e90 9px, #fe9e90 18px,
                                              #f8f7f4 18px, #f8f7f4 27px,
                                              #92cdff 27px, #92cdff 36px);
  border-image-slice: 6;
  */
}
.newsletter-subscription-text,
.subscription-email-field
 {
  color: #5a5a5a
}

.newsletter-subscription-text {
	display: block;
	/*margin-top: 26px;
	margin-left: 26px;
	margin-right: 26px;*/
  margin-bottom: 37px;
	font-size: 16px;
	font-weight: 400;
}

.subscription-email-field {
  border: 1px solid rgba(178,178,178,0.52);
  border-radius: 4px;
  background: #fff;
  width: 355px;
  line-height: 42px;
  padding-left: 10px;
  float: left;
}

.newsletter-subscription-btn {
  float: left;
  border: none;
	border-radius: 21px;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
}

.map-block {
	display: block;
	min-height: 306px;
	margin: 0;
	padding-top: 65px;
	padding-right: 27px;
	padding-bottom: 59px;
	background: url(../img/map.jpg);
	position: relative;
	margin-left: -27px; /* ОМГ */
	margin-right: -27px; /* ОМГ */
}

.map-block::before {
  content: "";
  display: block;
  position: absolute;
  left: 266px;
  top: 138px;
  width: 218px;
  height: 142px;
  background: url(../img/pin.png);
}

.map-address-block {
	float: right;
	background: #fdfefe;
	border-radius: 12px;
	width: 302px;
	padding-top: 9px;
	padding-right: 25px;
	padding-left: 25px;
	box-sizing: border-box;
}

.map-address-block p,
.map-address-block p b {
  color: #343434;
  margin: 0;
  margin-top: 22px;
  /*margin-bottom: 5px;*/
}

.map-form-btn {
	width: 254px;
	min-height: 45px;
	line-height: 45px;
	border-radius: 22px;
  margin-top: 27px;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
}

.list-pages {
  display: block;
  text-align: right;
  margin-top: 64px;
  margin-bottom: 38px;
  font-size: 0;
  font-weight: 500;
}

.list-pages-btn,
.list-pages-btn-current {
  background: none;
  min-height: 26px;
  width: 26px;
  box-sizing: border-box;
  /*padding: 0 10px;*/
  border: none;
  border-radius: 13px;
  font-size: 16px;
}

.list-pages-btn:hover { background: rgba(255,255,255,0.2); }

.list-pages-btn-current {
  font-size: 16px;
  background: #fff;
  color: #353535;
}

.list-pages-btn-prev,
.list-pages-btn-next {
  min-height: 26px;
  width: 26px;
  font-size: 16px;
  background: none;
  border: none;
  text-indent: -9999px;
  /*background: url('../img/gllacy-sprt.png') no-repeat;*/
  /*background-position: -194px -254px;*/
  padding: 0;
  /*width: 9px;*/
  /*height: 14px;*/
}

.list-pages-btn-prev { background-position: -194px -274px; }

.list-pages-btn-prev:disabled,
.list-pages-btn-next:disabled {
  opacity: 0.2;
}

footer::before {
	content: "";
  display: block;
	width: 1146px;
	height: 1px;
	background: #fff;
	opacity: 0.2;
	margin: 0 auto;
}

.footer-social,
.footer-info,
.footer-info-left,
.footer-info-right {
  float: left;
}

.footer-info-left { position: relative; }

.footer-social,
.footer-info,
.footer-copyright {
  padding-top: 20px;
}

.footer-info a { display: block; }

.footer-social {
  margin-right: 226px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 31px;
  min-height: 31px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
}

.footer-info-right { margin-left: 32px; }

.footer-copyright { float: right; }

.footer-copyright p {
  margin-top: 7px;
  margin-bottom: 0;
}

.transparent-underline { border-bottom: 1px solid rgba(255,255,255,0.4); }

main .transparent-underline:hover,
footer .transparent-underline:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255,188,158,0.4);
}

main .transparent-underline:active,
footer .transparent-underline:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255,188,158,0.4);
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* Images from sprite */

.logo-btn,
.header-right .search-btn,
.header-right .search-btn:hover,
.entrance-btn::before,
.entrance-btn:hover::before,
.cart-btn::before,
.cart-btn-filled::before,
.filter-sort-current::after,
.filter-fat-radio-input + label::before,
.filter-filler-checkbox-input + label::before,
.ice-cream-item-hit::before,
.about-us-ic::before,
.about-us-leaf::before,
.about-us-cow::before,
.about-us-term::before,
.list-pages-btn-prev,
.list-pages-btn-next,
.social-btn-fb,
.social-btn-inst,
.social-btn-vk,
.social-btn-twitter,
.footer-info-link-for-suppliers::before,
.htmlacademy-logo {
  background: url('../img/gllacy-sprt.png') no-repeat;
}

.logo-btn { background-position: 0px -89px; }

.header-right .search-btn {
	background-color: rgba(255,255,255, 0.2);
	background-position: -142px -153px;
	width: 17px;
	height: 17px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-radius: 16px;
	/*margin-bottom: -10px;*/
  /*margin-top: 14px;*/
}

.header-right .search-btn:hover {
  background-color: #f8f7f4;
  background-position: -112px -153px;
}

.entrance-btn::before {
	background-position: -200px -90px;
  width: 19px;
	height: 18px;
	content: "";
	display: block;
	position: absolute;
	left: 16px;
	top: 7px;
}

.entrance-btn:hover,
.cart-btn:hover,
.cart-btn-filled:hover {
  background: #f8f7f4;
  color: #323232;
}

.entrance-btn:hover::before { background-position: -200px -160px; }

.cart-btn::before,
.cart-btn-filled::before {
	background-position: -200px -40px;
  width: 21px;
	height: 20px;
	content: "";
	display: block;
	position: absolute;
	left: 16px;
	top: 6px;
}

.cart-btn:hover::before { background-position: -200px -230px; }

.cart-btn-filled::before { background-position: -200px -120px; }

.cart-btn-filled:hover::before { background-position: -200px -200px; }

.filter-sort-current::after { background-position: -200px -26px; }

.filter-fat-radio-input + label::before { background-position: -150px -230px; }

.filter-filler-checkbox-input + label::before { background-position: -150px -200px; }

.filter-fat-radio-input + label:hover::before { background-position: -150px -280px; }

.filter-fat-radio-input:checked + label::before { background-position: -120px -230px; }

.filter-fat-radio-input:checked + label:hover::before { background-position: -120px -280px; }

.filter-filler-checkbox-input + label:hover::before { background-position: -150px -260px; }

.filter-filler-checkbox-input:checked + label::before { background-position: -120px -200px; }

.filter-filler-checkbox-input:checked + label:hover::before { background-position: -120px -260px; }

.ice-cream-item-hit { position: relative; }

.ice-cream-item-hit::before {
  background-position: 0px -200px;
  width: 61px;
  height: 61px;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
}

.about-us-ic::before,
.about-us-leaf::before,
.about-us-cow::before,
.about-us-term::before {
  background-position: 0px -40px;
  position: absolute;
  display: block;
  content: "";
  width: 42px;
  height: 42px;
  top: -12px;
  left: 0px;
}

.about-us-leaf::before { background-position: -50px -40px; }
.about-us-ic::before { background-position: -150px -40px; }
.about-us-term::before { background-position: -100px -40px; }

.list-pages-btn-next { background-position: -194px -254px; }
.list-pages-btn-prev { background-position: -194px -274px; }

.social-btn-fb,
.social-btn-inst,
.social-btn-vk,
.social-btn-twitter {
  background-position: 0px 0px;
  opacity: 0.8;
  margin-right: 12px;
}

.social-btn-inst { background-position: -150px 0px; }
.social-btn-vk { background-position: -50px 0px; }
.social-btn-twitter { background-position: -100px 0px; }

.social-btn-fb:hover,
.social-btn-inst:hover,
.social-btn-vk:hover,
.social-btn-twitter:hover {
  opacity: 1;
}

.social-btn-fb:active,
.social-btn-inst:active,
.social-btn-vk:active,
.social-btn-twitter:active {
  opacity: 0.8;
  box-shadow: inset 0 2px 2px #888;
}

.footer-info-link-for-suppliers::before {
  background-position: -200px 0px;
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 13px;
  top:2px;
  left: -22px;
}

.htmlacademy-logo {
  content: "";
  display: block;
  background-position: 0px -160px;
  width: 109px;
  height: 37px;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url(../fonts/Roboto-Black.woff);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.woff);
}
