body {
 font-family: 'Roboto', 'Helvetica', sans-serif;
 font-size: 16px;
 font-weight: 400;
 background: #849d8f;
 color: #fff;
}

h1,
h2,
header,
.slider-image-button,
.special-offers,
.special-offer-btn,
.blog-news-link,
.newsletter-subscription-btn,
.map-block p b {
  font-weight: 700;
  color:#fff;
}

header .btn,
.about-us-title,
.filter,
.ice-cream-item,
.ice-cream-list-pages,
.blog-news {
  font-weight: 500;
}


.header-phone,
.slider-text {
  font-weight: 900;
  font-size: 22px;
}

h1,
h2 {
  font-size: 35px;
}

.btn-red {
  font-size: 17px;
}

header .btn,
.bread-crumps,
.filter-label,
.filter .filter-sort-submenu
{
  font-size: 14px;
}

.slider-text{
  font-size: 60px;
}

.ice-cream-item-price{
  margin-top: -65px;
  margin-bottom: 0;
  font-size: 45px;
}

.ice-cream-item-price span{
  font-size: 30px;
  margin-left: -14px;
}

.slider-image-button{
  font-size: 32px;
}

.about-us-title,
.blog-news-link{
  font-size: 24px;
}

.special-offers,
.special-offer-btn,
.map-block p b {
  font-size: 18px;
}

.newsletter-subscription-btn{
  font-size: 17px;
}

.blog-news{
  font-size: 16px;
}

.map-block p{
  font-size: 14px;
}

footer {
  font-size: 13px;
  padding-bottom: 20px;
}

header,
main,
footer{
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid red;/* TEMP*/
}

a {
  text-decoration: none;
  color:#fff;
}

p {color:#fff;}

ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.header-top-line{
  line-height: 64px;
}

.logo-btn{
  /*display: inline-block;*/
  float: left;
  content: "";
  width: 153px;
  height: 64px;
  background: url('../img/logo.svg') no-repeat;
  margin-left: -6px;
  color: rgba(0,0,0,0);
}
.main-menu{
  float: left;
}

.main-menu-item{
  display: inline-block;
}
.sub-menu-catalog{
  display: none;
}

.header-right{
  float: right;
}

.main-menu a,
.header-right a{
  display: inline-block;
  height: 64px;
}

.main-menu a{
  margin-left: 15px;
}

.header-right a{
  margin-left: 10px;
}

/*.header-bottom-line{
  line-height: 42px;
}*/

.header-bottom-line p{
  padding: 0;
  margin: 0;
}

.header-schedule-phone{
  float: right;
  text-align: right;
}

.header-schedule{
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 8px;
}

.bread-crumbs{
  float: left;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
}
.bread-crumbs a{
  display: inline-block;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

h1{
  margin-top: 8px;
  margin-bottom: 35px;
}

.filters-form{
  display: block;
}
.filters{
  float: left;
  height: 57px;
  margin-bottom: 17px;
  border: 1px dashed yellow; /*TEMP*/
}
.filters:last-child{
  margin-bottom: 18px;
}
.filter{
  border: 1px dashed blue; /*TEMP*/
}
.filters div{
  float: left;
}
.filters p{
  margin: 0;
  padding: 0;
}
/*.filter-sort{
  width: 193px;
}
.filter-price{
  width: 218px;
}
.filter-price{
  width: 218px;
}*/
.filter-sort-submenu{
  display: none;
}
.ice-cream-item{
  float: left;
}
.ice-cream-item a {
	display: block;
	width: 267px;
	height: 320px;
	margin-right: 20px;
	border: 1px dotted orange;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ice-cream-item:last-child a{
  margin-right: 0;
}

.ice-cream-list-pages{
  display: block;
  text-align: right;
  margin-top: 64px;
  margin-bottom: 38px;
}
.footer-social,
.footer-info,
.footer-info-left,
.footer-info-right {
  float: left;
}

.footer-social,
.footer-info,
.footer-copyright{
padding-top: 20px;
}

.footer-info a {
  display: block;
}

.footer-social{
  margin-right: 236px;
}

.footer-info-right {
  margin-left: 32px;
}

.footer-copyright{
  float: right;
}
.footer-copyright p{
  margin-top: 7px;
  margin-bottom: 0;
}

/*.footer-copyright p{
  margin-bottom:
}*/
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.woff);
  /*src: url(../fonts/Roboto-regular.ttf);*/
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  /*src: url(../fonts/Roboto-bold.ttf);*/
  src: url(../fonts/Roboto-bold.woff);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  /*src: url(../fonts/Roboto-black.ttf);*/
  src: url(../fonts/Roboto-black.woff);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff);
  /*src: url(../fonts/Roboto-medium.ttf);*/
}
